html {
    scroll-behavior: smooth !important;

    -webkit-user-select: none;
    user-select: none;

    ::selection,
    ::-moz-selection,
    ::-webkit-selection {
        background: color-mix(in oklab, var(--ui-secondary) 25%, transparent);
    }

    input,
    textarea {
        -webkit-user-select: text;
        user-select: text;
    }
}
