@import "tailwindcss";
@import "tailwindcss-animated";
@import "@nuxt/ui";

@theme static {
    --font-sans:
        "Sofia Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mono:
        "Inconsolata", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
        monospace;

    --color-iris-50: #f3f1fb;
    --color-iris-100: #e9e5f6;
    --color-iris-200: #d5cdee;
    --color-iris-300: #b8abe0;
    --color-iris-400: #9281cb;
    --color-iris-500: #7762b8;
    --color-iris-600: #564398;
    --color-iris-700: #463880;
    --color-iris-800: #3a3066;
    --color-iris-900: #2d2558;
    --color-iris-950: #1e1840;

    --color-azure-50: #eff9fd;
    --color-azure-100: #d8f0fa;
    --color-azure-200: #b6e4f6;
    --color-azure-300: #83d0ef;
    --color-azure-400: #54b8e5;
    --color-azure-500: #2ea7dd;
    --color-azure-600: #1d86bb;
    --color-azure-700: #1a6c97;
    --color-azure-800: #1b5a7d;
    --color-azure-900: #1b4b68;
    --color-azure-950: #123047;
}

:root {
    --ui-radius: 0.25rem;

    --ui-primary: var(--color-iris-600);
    --ui-secondary: var(--color-azure-600);
    --ui-neutral: var(--color-zinc-500);
    --ui-green: var(--color-green-500);
    --ui-red: var(--color-red-500);
    --ui-blue: var(--color-blue-500);
    --ui-yellow: var(--color-yellow-500);
}

.dark {
    --ui-primary: var(--color-iris-400);
    --ui-secondary: var(--color-azure-400);
    --ui-green: var(--color-green-400);
    --ui-red: var(--color-red-400);
    --ui-blue: var(--color-blue-400);
    --ui-yellow: var(--color-yellow-400);
}
