@import "tailwindcss";
@import "tailwindcss-animated";
@import "@nuxt/ui";

@theme static {
    --font-sans:
        "Sofia Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mono:
        "Inconsolata", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
        monospace;

    --color-zodiac-50: #eef2ff;
    --color-zodiac-100: #e1e8fe;
    --color-zodiac-200: #c8d4fd;
    --color-zodiac-300: #a7b7fa;
    --color-zodiac-400: #8492f5;
    --color-zodiac-500: #676eed;
    --color-zodiac-600: #4f4ae1;
    --color-zodiac-700: #423cc6;
    --color-zodiac-800: #3733a0;
    --color-zodiac-900: #31307f;
    --color-zodiac-950: #26245e;
}

:root {
    --ui-radius: 0.25rem;

    --ui-zodiac: var(--color-zodiac-500);
    --ui-neutral: var(--color-zinc-500);
    --ui-green: var(--color-green-500);
    --ui-red: var(--color-red-500);
    --ui-blue: var(--color-blue-500);
    --ui-yellow: var(--color-yellow-500);
}
